

.listCourse {
    padding: 8px 20px;
}

.itemImage {
    width: 100%;
}

.listCourse__item--star {
    display: flex;
    align-items: center;
}

.listCourse__item--star  p {
    margin: 0;
    padding-right: 5px;
}

.listCourse__item--star img {
    width: 19px;
}

.money {
    font-size: 25px;
    font-weight: bold;
}