.slick-prev:before {
    content: '←';
    color: black;
}

.slick-next:before {
    content: '→';
    color: #333;
}

.slick-dots{
    display: none !important;
}
.slick-track {
    height: 350px;
    transform: translate3d(-300px, 0px, 0px);
}