.homeBanner img {
  width: 100%;
}

.homeCourseText {
  text-align: center;
  padding: 25px 0 60px 0;
}

.homeCourseTextP {
  width: 594px;
  margin: 0 auto;
}

.homeCourseText p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.03em;
  padding-top: 15px;
}

.homeCourseText b {
  font-weight: 700;
}

.homeSliderItem {
  text-align: center;
  color: #333;
  width: 300px;
  height: 260px;
}

.homeSliderItem p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.homeSliderItem img {
  border-radius: 20px;
  display: inline-block !important;
  width: 100%;

}

.homeSliderItemA {
  text-decoration: none;
}

.homeSlider h2 {
  padding: 15px 24px;
  background: #adc8e0;
  box-shadow: 0px 40px 30px rgba(25, 25, 46, 0.04);
  border-radius: 10px;
  width: 330px;
  margin-bottom: 45px ;
}

.homeSlider {
  margin-bottom: 25px;
}
.itemImage {
  width: 100%;
}


.listCourse {
  padding: 8px 20px;
}

.itemImage {
  width: 100%;
}

.listCourse__item--star {
  display: flex;
  align-items: center;
}

.listCourse__item--star  p {
  margin: 0;
  padding-right: 5px;
}

.listCourse__item--star img {
  width: 19px;
}

.money {
  font-size: 25px;
  font-weight: bold;
}

.itemCourseText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemCourseText p {
  margin: 0;
}