.headerString {
  padding: 20px;
  color: #3751fe;
  font-weight: 700;
}

.formHeader {
  color: #3751fe;
  font-weight: 700;
}
.formButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 25px;
}
.buttonSend {
  display: flex;
  padding: 8px 39px;
  color: #ffffff;
  background-color: #3751fe;
  border: 1px solid;
  font-size: 18px;
}
.buttonCancel {
  display: flex;
  padding: 8px 39px;
  color: #000000;
  background-color: #d9d9d9;
  border: 1px solid;
  font-size: 18px;
  margin-right: 20px;
}
.form {
  margin: 0 auto;
  width: 653px;
  background-color: #d1d1d1;
  align-self: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.formString {
  margin-bottom: 15px;
  font-size: 20px;
  color: black;
}
.line {
  width: 593px;
}
.formControl {
  color: #030303;
  border: 1px solid #000000 !important;
  padding: 8px 0px 6px 12px !important;
  border-radius: 7px !important;
}
