.profileBackground img {
  width: 100%;
}

.profileAvatar {
  margin-top: -160px;
  margin-left: 45%;
  margin-right: auto;
}

.profileText {
}

.profileText h1 {
  padding: 6px 14px;
  background: #5d87a8;
  border-radius: 179.467px;
  width: 420px;
}

.formBox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formBox label {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: left;
  color: #000000;
}

.formBox input {
  padding: 10px;
  border-radius: 15px;
  border-color: #60707f;
}

.btnUpdate {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #5d87a8;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    float: right;
    margin-right: 90px;
}
